/* styles.css */
body {
    background-color: rgb(242, 240, 240);
    color: rgb(0, 0, 0);
    font: -apple-system-body;
    
}
header {
    border: none;
    text-align: center;
    background-color: rgb(85, 119, 102) ;
    color: white;
    height: max-content;
    line-height: 3;
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s;
    grid-row-gap: 16px;
}
a {
  color: rgb(15, 14, 12);
    
}
table {
    border: 1px solid;
      
  }
th{
    background-color: rgb(85, 119, 102) ;
    color: white;
    padding: 40px;
    text-align: center;
    width: 140px;
    font-family: "Lucida Handwriting", cursive;
  }
td{
  padding: 40px;
  text-align: center;
  background-color: rgb(50, 135, 50);
  width: 140px;
 
}
button {
  border: none;
  background-color: rgb(180, 193, 188);
  color: rgb(15, 14, 12);
  border-style: outset;
  border-color:rgb(180, 193, 188);
  height: 50px;
  width: 100px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  border-radius: 15px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.3s;
  }
hour {
  background-color: rgb(180, 193, 188);;
}

h3 {
  font-family: "Lucida Handwriting", cursive;
}