<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>
<body>

    <h1>Booking Details</h1>

      <label for="id_number">ID:</label>
      <input type="id_number" id="id_number" name="id_number"><br><br>
        
      <label for="court">Court:</label>
      <input type="text" id="court" name="court" readonly><br><br>

        <label for="time">Time:</label>
        <input type="text" id="time" name="time" readonly><br><br>

        <button type="button" id="confirm">Confirm Booking</button>


      <script src="static/script.js"></script>
      <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script> 
      <script>
        function getQueryParam(param) {
          var urlParams = new URLSearchParams(window.location.search);
          return urlParams.get(param);
        }

        // Set the court and time fields with values from the URL
        document.getElementById('court').value = getQueryParam('court');
        document.getElementById('time').value = getQueryParam('time');
    </script>

</body>
</html>